.selectbar {
    background-color: white;
}

.tabletext {
    font-weight: 400;
    font-size: 12px;
    color: black
}

input[type="checkbox"] {
    line-height: 1em;
    width: 1em;
    height: 1em;
    border: 1px solid #B0B0B0;
    border-radius: 2px;
}